.map-container{
  width: 100%;
  height: 95vh;
  overflow-y: scroll;
}

.popup-container{
  margin: 5px;
  padding-right: 3px;
  overflow-y: scroll;
}

.leaflet-popup-content{
  height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
}
