::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

hr{
  margin-top: 7px;
}

.sidebar{
  margin-top: -94.5vh;
  height: 82vh;
  z-index: 500;
}

.mini-submenu{
  width: 42px;
  display:none;
  background-color: rgba(0, 0, 0, 0);  
  
  border: 0.155em solid white;
  border-radius: 4px;
  
  padding-top: 5px;
  padding-right: 31px;
  padding-bottom: 7px;
  padding-left: 9px;
}

.sidemenu{
  width: 100%;
  height: 91vh;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 1px;
  overflow-y: scroll;
}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: white;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.search-container{
  max-height: 35%;
  overflow: auto;
}

.result-container{
  max-height: 150px;
  overflow: auto;

  margin-left: -37px;
  list-style-type: none;
}

.result-container > li{
  cursor: default;
  margin-bottom: 2px;
  border-bottom: 1px dotted lightgray;
}

.result-container > li.in-sight{
  background: rgba(211, 211, 211, 0.56);
}

.result-container > li.in-sight:hover{
  background: rgba(211, 211, 211, 0.83);
}

.filter{
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  float: right;

  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.filter:hover{
  color: white;
  border: 1px solid lightgrey;
  border-radius: 43px;
  background: lightgrey;
}

.result-container > li:hover{
  background: rgba(211, 211, 211, 0.56);
}

.checkbox > .sub-checkbox{
  margin-left: 20px;
}

.checkbox > .sub-checkbox-2{
  margin-left: 40px;
  width: 80%;
}

label{
  width: 100%;
}

label.sub-checkbox{
  width: 92%;
}

label.sub-checkbox{
  width: 84%;
}

.fa-minus{
  transform: scale(3, 0.5);
  padding-right: 6px;
}