.dropdown-toggle > *{
  color: white;
}

.subtitle{
  bottom: -1.5em;

  margin-left: -50px;
}

.unread{
  background: red;
  border: 1px red solid;
  border-radius: 48px;
  
  font-size: 7pt;
}

.unread-value{
  top: -.75em;  
  
  margin: 3px;
  padding-bottom: 2px;
  padding-right: 3px;
  padding-left: 2px;
  padding-top: 1px;
}

.unread-group-value{
  color: white;
  
  top: -2.3em;  
  
  margin-top: 3px;
  margin-bottom: 3px;

  padding-bottom: 2px;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 1px;
}

.notifications{
  margin: 0;
  padding: 0;

  width: 325px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notifications > li:not(:last-child){
  max-height: inherit;
  border-bottom: 1px solid #ddd;
}

.notification-group-item{
  width: 30%;
  height: 80px;

  display: inline-block;
  margin-left: 45px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.notification-container{
  width: 80px;
  height: inherit;

  overflow: hidden;

  padding-top: 15px;
  padding-left: 22px;
}

.notification-container:hover{
  background: lightgray;
  border: 1px solid lightgray;
  border-radius: 100px;
}

.notification-item-container{
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.notification-item-options{
  padding-left: 20px;
}

.notifications > li[data-read="false"] > div{
  background-color: lightgrey;  
}

.notifications > li > a:hover{
  background-color: rgba(51, 122, 183, 0.58);
}

.notifications > li > a{
  word-break: break-word;
  white-space: inherit;
}

.notifications > .back-button{
  cursor: default;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
}

.iconify{
  width: 50px;
}