.faq-header{
  margin-bottom: 30px;
}

.faq-form-container{
  margin-bottom: 25px;
}

.title-container{
  display: inline-flex;
}

.title-container > h4{
  margin-right: 10px;
}

.title-container > a{
  padding-top: 7px;
  padding-right: 15px;
}

.faq-form-container > .form-group:last-child{
  text-align: right;
}


.file-item, .file-edit{
  width: 25%;

  padding-bottom: 10px;
  padding-top: 5px;

  border-bottom: 1px solid lightgray;
}

.file-item > * > i{
  margin-left: 20px;
}
